<!DOCTYPE html>
<html>
  <head>

    <title>Test Client</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <h1>Rest API Test</h1>
    
    <% if(typeof errs !== "undefined") { %>
      <% errs.forEach((err)=>{%>
          <h4 style="color: red;"><%=err.path%> : <%=err.msg%></h4>
      <% }) %>
    <% } %>

    <form method="post" action="/test-result/create">
      
      <h2>Test Result</h2>

      <div class="write-TDI">
        <h3>Test Data Id</h3>
        <input type="text" name="Test_Data_Id"/>
      </div>

      <div class="write-TCI">
        <h3>Test Case Id</h3>
        <input type="text" name="Test_Case_Id"/>
      </div>

      <div class="write-RM">
        <h3>Response Ms</h3>
        <input type="text" name="Response_Ms"/>
      </div>

      <div class="write-HSC">
        <h3>Http Status Code</h3>
        <input type="text" name="Http_Status_Code"/>
      </div>

      <div class="write-IS">
        <h3>Is Success</h3>
        <input type="text" name="Is_Success"/>
      </div>

      <div class="write-RD">
        <h3>Response Data</h3>
        <input type="text" name="Response_Data"/>
      </div>

      <div class="btn">
        <br/>
        <input type="submit" value="Create">
        <input type="reset" value="Reset">
      </div>

    </form>
  </body>
</html>
