<!DOCTYPE html>
<html>
  <head>

    <title>Test Client</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <h1>Rest API Test</h1>
      
    <div class="txt-status">
      <% status.forEach((status)=>{%>
        <h3><%=status%></h3>
      <% }) %>
    </div>

  </body>
</html>
